In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta

In [9]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
new_df = pd.read_csv('xg_2017_02_step2_time1.csv', parse_dates=['Date'], date_parser=dateparse)

In [10]:
new_df

       PULocationID       Date  Hours  time1  count  dayofweek
0                 1 2017-02-01      3      0      2          2
1                 1 2017-02-01      5      0      1          2
2                 1 2017-02-01      8      1      1          2
3                 1 2017-02-01     10      0      1          2
4                 1 2017-02-01     11      1      2          2
...             ...        ...    ...    ...    ...        ...
81142           265 2017-02-28     19     10      9          1
81143           265 2017-02-28     20      4     10          1
81144           265 2017-02-28     21     11     14          1
81145           265 2017-02-28     22      9     15          1
81146           265 2017-02-28     23     10     12          1

[81147 rows x 6 columns]

In [11]:
new_df.insert(4, 'time2', 0) # create new column containing time3

In [12]:
new_df

       PULocationID       Date  Hours  time1  time2  count  dayofweek
0                 1 2017-02-01      3      0      0      2          2
1                 1 2017-02-01      5      0      0      1          2
2                 1 2017-02-01      8      1      0      1          2
3                 1 2017-02-01     10      0      0      1          2
4                 1 2017-02-01     11      1      0      2          2
...             ...        ...    ...    ...    ...    ...        ...
81142           265 2017-02-28     19     10      0      9          1
81143           265 2017-02-28     20      4      0     10          1
81144           265 2017-02-28     21     11      0     14          1
81145           265 2017-02-28     22      9      0     15          1
81146           265 2017-02-28     23     10      0     12          1

[81147 rows x 7 columns]

In [6]:
# time1
for index, row in new_df.iterrows():
    cur_hour = row['Hours']
    cur_location = row['PULocationID']
    cur_date = row['Date']
    
    if(cur_date == '2017-02-01'):
        if cur_hour == 0:
            new_df.at[index,'time1'] = 0
        
        if cur_hour == 1:
            new_df.at[index,'time1'] = 0
            
        if cur_hour == 2:
            new_df.at[index,'time1'] = 0
    else:
        
        if cur_hour > 2 :
            tar_hour = cur_hour - 3
            tar_date = cur_date
        elif cur_hour == 2:
            tar_hour = 23
            tar_date = cur_date - timedelta(days=1)
        elif cur_hour == 1:
            tar_hour = 22
            tar_date = cur_date - timedelta(days=1)
        elif cur_hour == 0:
            tar_hour = 21
            tar_date = cur_date - timedelta(days=1)
            
        tar_list = new_df.index[(new_df['Hours'] == tar_hour) & (new_df['Date'] == tar_date)& (new_df['PULocationID'] == cur_location)].tolist()
        if not tar_list :
            count = 0
        else:
            i = tar_list[0]
            count = new_df.iloc[i]['count']

        new_df.at[index,'time1'] = count

In [7]:
new_df

       PULocationID       Date  Hours  time1  count  dayofweek
0                 1 2017-02-01      3      0      2          2
1                 1 2017-02-01      5      0      1          2
2                 1 2017-02-01      8      1      1          2
3                 1 2017-02-01     10      0      1          2
4                 1 2017-02-01     11      1      2          2
...             ...        ...    ...    ...    ...        ...
81142           265 2017-02-28     19     10      9          1
81143           265 2017-02-28     20      4     10          1
81144           265 2017-02-28     21     11     14          1
81145           265 2017-02-28     22      9     15          1
81146           265 2017-02-28     23     10     12          1

[81147 rows x 6 columns]

In [14]:
# time 2
for index, row in new_df.iterrows():
    cur_hour = row['Hours']
    cur_location = row['PULocationID']
    cur_date = row['Date']
    
    if(cur_date == '2017-02-01'):
        if cur_hour == 0:
            new_df.at[index,'time2'] = 0
        
        if cur_hour == 1:
            new_df.at[index,'time2'] = 0

    else:
        
        if cur_hour > 1 :
            tar_hour = cur_hour - 2
            tar_date = cur_date
        elif cur_hour == 1:
            tar_hour = 23
            tar_date = cur_date - timedelta(days=1)
        elif cur_hour == 0:
            tar_hour = 22
            tar_date = cur_date - timedelta(days=1)
            
        tar_list = new_df.index[(new_df['Hours'] == tar_hour) & (new_df['Date'] == tar_date)& (new_df['PULocationID'] == cur_location)].tolist()
        if not tar_list :
            count = 0
        else:
            i = tar_list[0]
            count = new_df.iloc[i]['count']

        new_df.at[index,'time2'] = count

In [15]:
new_df

       PULocationID       Date  Hours  time1  time2  count  dayofweek
0                 1 2017-02-01      3      0      0      2          2
1                 1 2017-02-01      5      0      2      1          2
2                 1 2017-02-01      8      1      0      1          2
3                 1 2017-02-01     10      0      1      1          2
4                 1 2017-02-01     11      1      0      2          2
...             ...        ...    ...    ...    ...    ...        ...
81142           265 2017-02-28     19     10      4      9          1
81143           265 2017-02-28     20      4     11     10          1
81144           265 2017-02-28     21     11      9     14          1
81145           265 2017-02-28     22      9     10     15          1
81146           265 2017-02-28     23     10     14     12          1

[81147 rows x 7 columns]

In [16]:
new_df.to_csv('xg_2017_02_step2_time12.csv', index=False)

In [ ]:
# time 3
for index, row in new_df.iterrows():
    cur_hour = row['Hours']
    cur_location = row['PULocationID']
    cur_date = row['Date']
    
    if(cur_date == '2017-02-01'):
        if cur_hour == 0:
            new_df.at[index,'time3'] = 0

    else:
        
        if cur_hour > 0 :
            tar_hour = cur_hour - 1
            tar_date = cur_date
        elif cur_hour == 0:
            tar_hour = 23
            tar_date = cur_date - timedelta(days=1)
            
        tar_list = new_df.index[(new_df['Hours'] == tar_hour) & (new_df['Date'] == tar_date)& (new_df['PULocationID'] == cur_location)].tolist()
        if not tar_list :
            count = 0
        else:
            i = tar_list[0]
            count = new_df.iloc[i]['count']

        new_df.at[index,'time3'] = count