In [1]:
import pandas as pd
import numpy as np

In [ ]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
new_df = pd.read_csv('yellow_tripdata_2017-01.csv', parse_dates=['tpep_pickup_datetime'], date_parser=dateparse)

In [13]:
new_df

        tpep_pickup_datetime  PULocationID  total_amount
0        2017-01-09 11:13:28           263         15.30
1        2017-01-09 11:32:27           186          7.25
2        2017-01-09 11:38:20           164          7.30
3        2017-01-09 11:52:13           236          8.50
4        2017-01-01 00:00:00           249         52.80
5        2017-01-01 00:00:02            48          5.30
6        2017-01-01 00:00:02           186         27.96
7        2017-01-01 00:00:03           162          8.75
8        2017-01-01 00:00:05            48          8.30
9        2017-01-01 00:00:05           140          8.30
10       2017-01-01 00:00:05           138         38.55
11       2017-01-01 00:00:06           142         11.80
12       2017-01-01 00:00:06           161         70.30
13       2017-01-01 00:00:06           234         10.35
14       2017-01-01 00:00:06           141         13.50
15       2017-01-01 00:00:06            79         16.56
16       2017-01-01 00:00:06           148         17.80
17       2017-01-01 00:00:07            48          9.50
18       2017-01-01 00:00:09           230         23.80
19       2017-01-01 00:00:10           186         24.30
20       2017-01-01 00:00:10            36          5.30
21       2017-01-01 00:00:11            41         10.55
22       2017-01-01 00:00:12           125         10.80
23       2017-01-01 00:00:12           138         17.30
24       2017-01-01 00:00:13           143          4.30
25       2017-01-01 00:00:13           140         22.25
26       2017-01-01 00:00:13            68         11.30
27       2017-01-01 00:00:14           239         17.30
28       2017-01-01 00:00:15           233         14.80
29       2017-01-01 00:00:15            14         33.60
...                      ...           ...           ...
9710094  2017-01-31 23:59:50           162         27.30
9710095  2017-01-31 23:59:50           229          6.80
9710096  2017-01-31 23:59:50           148         13.50
9710097  2017-01-31 23:59:50           158         12.36
9710098  2017-01-31 23:59:51           125          7.80
9710099  2017-01-31 23:59:51           161          9.95
9710100  2017-01-31 23:59:51           233          7.80
9710101  2017-01-31 23:59:51            48         30.58
9710102  2017-01-31 23:59:51            50         21.80
9710103  2017-01-31 23:59:52           113          9.80
9710104  2017-01-31 23:59:52           164         22.25
9710105  2017-01-31 23:59:53           211         11.15
9710106  2017-01-31 23:59:53           164         16.56
9710107  2017-01-31 23:59:53           186          8.30
9710108  2017-01-31 23:59:54           125         21.80
9710109  2017-01-31 23:59:54            43          6.30
9710110  2017-01-31 23:59:54           163         57.24
9710111  2017-01-31 23:59:54           138         41.34
9710112  2017-01-31 23:59:56           138         17.30
9710113  2017-01-31 23:59:56           249         17.25
9710114  2017-01-31 23:59:56           140         20.16
9710115  2017-01-31 23:59:56           186         10.80
9710116  2017-01-31 23:59:56           158         12.80
9710117  2017-01-31 23:59:57            90         18.95
9710118  2017-01-31 23:59:58           233         11.00
9710119  2017-01-31 23:59:58           114         23.16
9710120  2017-01-31 23:59:58           114          5.80
9710121  2017-01-31 23:59:59           158         26.15
9710122  2017-01-31 23:59:59           138         42.34
9710123  2017-01-31 23:59:59           249          8.80

[9710124 rows x 3 columns]

In [14]:
new_df['Hours'] = new_df['tpep_pickup_datetime'].dt.hour
new_df['Date'] = new_df['tpep_pickup_datetime'].dt.date
new_df

        tpep_pickup_datetime  PULocationID  total_amount  Hours        Date
0        2017-01-09 11:13:28           263         15.30     11  2017-01-09
1        2017-01-09 11:32:27           186          7.25     11  2017-01-09
2        2017-01-09 11:38:20           164          7.30     11  2017-01-09
3        2017-01-09 11:52:13           236          8.50     11  2017-01-09
4        2017-01-01 00:00:00           249         52.80      0  2017-01-01
5        2017-01-01 00:00:02            48          5.30      0  2017-01-01
6        2017-01-01 00:00:02           186         27.96      0  2017-01-01
7        2017-01-01 00:00:03           162          8.75      0  2017-01-01
8        2017-01-01 00:00:05            48          8.30      0  2017-01-01
9        2017-01-01 00:00:05           140          8.30      0  2017-01-01
10       2017-01-01 00:00:05           138         38.55      0  2017-01-01
11       2017-01-01 00:00:06           142         11.80      0  2017-01-01
12       2017-01-01 00:00:06           161         70.30      0  2017-01-01
13       2017-01-01 00:00:06           234         10.35      0  2017-01-01
14       2017-01-01 00:00:06           141         13.50      0  2017-01-01
15       2017-01-01 00:00:06            79         16.56      0  2017-01-01
16       2017-01-01 00:00:06           148         17.80      0  2017-01-01
17       2017-01-01 00:00:07            48          9.50      0  2017-01-01
18       2017-01-01 00:00:09           230         23.80      0  2017-01-01
19       2017-01-01 00:00:10           186         24.30      0  2017-01-01
20       2017-01-01 00:00:10            36          5.30      0  2017-01-01
21       2017-01-01 00:00:11            41         10.55      0  2017-01-01
22       2017-01-01 00:00:12           125         10.80      0  2017-01-01
23       2017-01-01 00:00:12           138         17.30      0  2017-01-01
24       2017-01-01 00:00:13           143          4.30      0  2017-01-01
25       2017-01-01 00:00:13           140         22.25      0  2017-01-01
26       2017-01-01 00:00:13            68         11.30      0  2017-01-01
27       2017-01-01 00:00:14           239         17.30      0  2017-01-01
28       2017-01-01 00:00:15           233         14.80      0  2017-01-01
29       2017-01-01 00:00:15            14         33.60      0  2017-01-01
...                      ...           ...           ...    ...         ...
9710094  2017-01-31 23:59:50           162         27.30     23  2017-01-31
9710095  2017-01-31 23:59:50           229          6.80     23  2017-01-31
9710096  2017-01-31 23:59:50           148         13.50     23  2017-01-31
9710097  2017-01-31 23:59:50           158         12.36     23  2017-01-31
9710098  2017-01-31 23:59:51           125          7.80     23  2017-01-31
9710099  2017-01-31 23:59:51           161          9.95     23  2017-01-31
9710100  2017-01-31 23:59:51           233          7.80     23  2017-01-31
9710101  2017-01-31 23:59:51            48         30.58     23  2017-01-31
9710102  2017-01-31 23:59:51            50         21.80     23  2017-01-31
9710103  2017-01-31 23:59:52           113          9.80     23  2017-01-31
9710104  2017-01-31 23:59:52           164         22.25     23  2017-01-31
9710105  2017-01-31 23:59:53           211         11.15     23  2017-01-31
9710106  2017-01-31 23:59:53           164         16.56     23  2017-01-31
9710107  2017-01-31 23:59:53           186          8.30     23  2017-01-31
9710108  2017-01-31 23:59:54           125         21.80     23  2017-01-31
9710109  2017-01-31 23:59:54            43          6.30     23  2017-01-31
9710110  2017-01-31 23:59:54           163         57.24     23  2017-01-31
9710111  2017-01-31 23:59:54           138         41.34     23  2017-01-31
9710112  2017-01-31 23:59:56           138         17.30     23  2017-01-31
9710113  2017-01-31 23:59:56           249         17.25     23  2017-01-31
9710114  2017-01-31 23:59:56           140         20.16     23  2017-01-31
9710115  2017-01-31 23:59:56           186         10.80     23  2017-01-31
9710116  2017-01-31 23:59:56           158         12.80     23  2017-01-31
9710117  2017-01-31 23:59:57            90         18.95     23  2017-01-31
9710118  2017-01-31 23:59:58           233         11.00     23  2017-01-31
9710119  2017-01-31 23:59:58           114         23.16     23  2017-01-31
9710120  2017-01-31 23:59:58           114          5.80     23  2017-01-31
9710121  2017-01-31 23:59:59           158         26.15     23  2017-01-31
9710122  2017-01-31 23:59:59           138         42.34     23  2017-01-31
9710123  2017-01-31 23:59:59           249          8.80     23  2017-01-31

[9710124 rows x 5 columns]

In [15]:
df_1 = new_df.loc[(new_df['PULocationID'] == 1)]
df_1

        tpep_pickup_datetime  PULocationID  total_amount  Hours        Date
208      2017-01-01 06:53:39             1        105.30      6  2017-01-01
1093     2017-01-01 07:05:43             1         65.30      7  2017-01-01
1555     2017-01-01 07:11:52             1        142.92      7  2017-01-01
14965    2017-01-01 10:03:39             1        150.30     10  2017-01-01
20052    2017-01-01 10:42:24             1         50.30     10  2017-01-01
22816    2017-01-01 10:59:03             1         90.36     10  2017-01-01
23925    2017-01-01 11:06:25             1        129.36     11  2017-01-01
30267    2017-01-01 11:43:44             1         75.30     11  2017-01-01
41772    2017-01-01 12:41:57             1         10.30     12  2017-01-01
41773    2017-01-01 12:41:57             1        -10.30     12  2017-01-01
45160    2017-01-01 12:57:44             1        130.56     12  2017-01-01
53252    2017-01-01 13:37:05             1        130.30     13  2017-01-01
54307    2017-01-01 13:41:57             1        110.00     13  2017-01-01
56322    2017-01-01 13:51:25             1          2.80     13  2017-01-01
58206    2017-01-01 14:00:25             1        176.30     14  2017-01-01
62229    2017-01-01 14:19:47             1         80.80     14  2017-01-01
70569    2017-01-01 14:58:11             1         84.30     14  2017-01-01
71606    2017-01-01 15:02:49             1        104.30     15  2017-01-01
78481    2017-01-01 15:34:51             1          0.30     15  2017-01-01
78693    2017-01-01 15:35:51             1         92.00     15  2017-01-01
94340    2017-01-01 17:27:41             1         97.30     17  2017-01-01
95107    2017-01-01 17:31:09             1          3.30     17  2017-01-01
101191   2017-01-01 16:34:51             1        165.80     16  2017-01-01
103271   2017-01-01 16:44:33             1          0.30     16  2017-01-01
103629   2017-01-01 16:46:12             1          0.30     16  2017-01-01
104025   2017-01-01 16:47:54             1          0.30     16  2017-01-01
104265   2017-01-01 16:48:58             1         52.80     16  2017-01-01
104747   2017-01-01 16:51:09             1         30.30     16  2017-01-01
158553   2017-01-01 03:48:37             1         80.30      3  2017-01-01
173425   2017-01-01 04:52:03             1         50.00      4  2017-01-01
...                      ...           ...           ...    ...         ...
9142255  2017-01-30 07:38:13             1          0.30      7  2017-01-30
9142616  2017-01-30 07:39:25             1          0.30      7  2017-01-30
9143204  2017-01-30 07:41:29             1          0.30      7  2017-01-30
9143758  2017-01-30 07:43:24             1          3.30      7  2017-01-30
9145122  2017-01-30 07:48:13             1          0.30      7  2017-01-30
9146817  2017-01-30 07:54:09             1          3.80      7  2017-01-30
9170712  2017-01-30 09:15:48             1        114.35      9  2017-01-30
9186440  2017-01-30 10:20:40             1         60.00     10  2017-01-30
9201362  2017-01-30 11:29:34             1         68.64     11  2017-01-30
9201363  2017-01-30 11:29:34             1        -68.64     11  2017-01-30
9246608  2017-01-30 14:41:34             1         93.30     14  2017-01-30
9256190  2017-01-30 15:16:15             1         96.35     15  2017-01-30
9259281  2017-01-30 15:27:38             1         91.90     15  2017-01-30
9276577  2017-01-30 16:35:09             1        171.36     16  2017-01-30
9292926  2017-01-30 17:36:34             1         57.80     17  2017-01-30
9298444  2017-01-30 17:54:31             1        135.36     17  2017-01-30
9304017  2017-01-30 18:11:29             1          4.30     18  2017-01-30
9316760  2017-01-30 18:49:20             1         80.00     18  2017-01-30
9409198  2017-01-31 04:11:40             1         73.30      4  2017-01-31
9410938  2017-01-31 05:14:06             1          8.15      5  2017-01-31
9432896  2017-01-31 07:39:50             1         16.80      7  2017-01-31
9493236  2017-01-31 11:06:47             1         76.80     11  2017-01-31
9513365  2017-01-31 12:28:18             1         84.00     12  2017-01-31
9543626  2017-01-31 14:25:18             1         70.30     14  2017-01-31
9546643  2017-01-31 14:36:32             1        109.75     14  2017-01-31
9559985  2017-01-31 15:24:46             1         85.80     15  2017-01-31
9561297  2017-01-31 15:29:49             1        103.56     15  2017-01-31
9575047  2017-01-31 16:24:41             1        206.60     16  2017-01-31
9592177  2017-01-31 17:31:31             1         21.30     17  2017-01-31
9592408  2017-01-31 17:32:14             1         91.30     17  2017-01-31

[696 rows x 5 columns]

In [16]:
df_group = df_1.groupby(['Date', 'Hours']).count()

In [17]:
df_group

                  tpep_pickup_datetime  PULocationID  total_amount
Date       Hours
2017-01-01 3                         1             1             1
           4                         1             1             1
           5                         2             2             2
           6                         2             2             2
           7                         2             2             2
           10                        3             3             3
           11                        2             2             2
           12                        3             3             3
           13                        3             3             3
           14                        3             3             3
           15                        3             3             3
           16                        6             6             6
           17                        4             4             4
           18                        3             3             3
           23                        5             5             5
2017-01-02 3                         2             2             2
           4                         1             1             1
           5                         1             1             1
           6                         2             2             2
           7                         4             4             4
           10                        1             1             1
           11                        1             1             1
           15                        5             5             5
           16                        5             5             5
           17                        4             4             4
           19                        2             2             2
2017-01-03 0                         1             1             1
           1                         1             1             1
           7                         1             1             1
           11                        1             1             1
...                                ...           ...           ...
2017-01-29 8                         2             2             2
           9                         1             1             1
           12                        3             3             3
           13                        1             1             1
           14                        1             1             1
           15                        2             2             2
           16                        3             3             3
           17                        3             3             3
           18                        1             1             1
           20                        1             1             1
           21                        2             2             2
2017-01-30 6                         1             1             1
           7                         7             7             7
           9                         1             1             1
           10                        1             1             1
           11                        2             2             2
           14                        1             1             1
           15                        2             2             2
           16                        1             1             1
           17                        2             2             2
           18                        2             2             2
2017-01-31 4                         1             1             1
           5                         1             1             1
           7                         1             1             1
           11                        1             1             1
           12                        1             1             1
           14                        2             2             2
           15                        2             2             2
           16                        1             1             1
           17                        2             2             2

[340 rows x 3 columns]

In [22]:
check = df_1.loc[df_1['Hours'] == 16]
check

        tpep_pickup_datetime  PULocationID  total_amount  Hours        Date
101191   2017-01-01 16:34:51             1        165.80     16  2017-01-01
103271   2017-01-01 16:44:33             1          0.30     16  2017-01-01
103629   2017-01-01 16:46:12             1          0.30     16  2017-01-01
104025   2017-01-01 16:47:54             1          0.30     16  2017-01-01
104265   2017-01-01 16:48:58             1         52.80     16  2017-01-01
104747   2017-01-01 16:51:09             1         30.30     16  2017-01-01
516145   2017-01-15 16:03:11             1         96.35     16  2017-01-15
517637   2017-01-15 16:07:56             1        126.00     16  2017-01-15
529877   2017-01-15 16:49:35             1        104.75     16  2017-01-15
532358   2017-01-15 16:58:23             1         85.80     16  2017-01-15
532549   2017-01-15 16:59:02             1        116.00     16  2017-01-15
724531   2017-01-16 16:01:32             1          3.30     16  2017-01-16
724656   2017-01-16 16:01:58             1         96.30     16  2017-01-16
730765   2017-01-16 16:25:10             1         78.80     16  2017-01-16
731141   2017-01-16 16:26:43             1         94.30     16  2017-01-16
1134772  2017-01-05 16:22:30             1        150.80     16  2017-01-05
1134883  2017-01-05 16:22:57             1          4.30     16  2017-01-05
1179721  2017-01-05 16:58:07             1         90.30     16  2017-01-05
1388032  2017-01-18 16:09:41             1        100.30     16  2017-01-18
1398221  2017-01-18 16:49:46             1        120.30     16  2017-01-18
1398278  2017-01-18 16:50:00             1        112.85     16  2017-01-18
1969727  2017-01-06 16:28:49             1         21.30     16  2017-01-06
2206758  2017-01-19 16:15:35             1        106.60     16  2017-01-19
2215903  2017-01-19 16:19:09             1        106.60     16  2017-01-19
2225374  2017-01-19 16:23:47             1         85.80     16  2017-01-19
2257339  2017-01-19 16:44:22             1        110.80     16  2017-01-19
2269628  2017-01-19 16:53:40             1        101.30     16  2017-01-19
2458502  2017-01-07 16:09:16             1        231.96     16  2017-01-07
2788991  2017-01-08 16:18:00             1         89.14     16  2017-01-08
3056365  2017-01-02 16:30:21             1        113.84     16  2017-01-02
...                      ...           ...           ...    ...         ...
5112993  2017-01-10 16:27:00             1        100.30     16  2017-01-10
5452735  2017-01-11 16:11:01             1         79.30     16  2017-01-11
5453366  2017-01-11 16:13:25             1        135.80     16  2017-01-11
5456251  2017-01-11 16:25:05             1         90.80     16  2017-01-11
5459400  2017-01-11 16:38:08             1        114.36     16  2017-01-11
5461659  2017-01-11 16:47:39             1         92.30     16  2017-01-11
5462373  2017-01-11 16:50:35             1        100.00     16  2017-01-11
5752178  2017-01-12 16:19:36             1        112.88     16  2017-01-12
5753160  2017-01-12 16:23:44             1        105.30     16  2017-01-12
5757921  2017-01-12 16:42:55             1        126.96     16  2017-01-12
6101758  2017-01-13 16:52:35             1        118.20     16  2017-01-13
6103321  2017-01-13 16:58:18             1         10.30     16  2017-01-13
6750404  2017-01-23 16:08:37             1         85.30     16  2017-01-23
6761304  2017-01-23 16:52:19             1          4.30     16  2017-01-23
6763165  2017-01-23 16:59:29             1        101.80     16  2017-01-23
7108539  2017-01-24 16:28:25             1          4.30     16  2017-01-24
7114536  2017-01-24 16:50:57             1        110.85     16  2017-01-24
7115580  2017-01-24 16:54:52             1        124.80     16  2017-01-24
7430848  2017-01-25 16:01:06             1          0.30     16  2017-01-25
7431056  2017-01-25 16:01:53             1         95.31     16  2017-01-25
7794514  2017-01-26 16:23:11             1         57.30     16  2017-01-26
7795223  2017-01-26 16:25:54             1         90.30     16  2017-01-26
7798023  2017-01-26 16:36:51             1        125.75     16  2017-01-26
7800298  2017-01-26 16:45:53             1        115.80     16  2017-01-26
8559997  2017-01-28 16:42:39             1         99.30     16  2017-01-28
9006613  2017-01-29 16:20:01             1        111.36     16  2017-01-29
9014067  2017-01-29 16:46:43             1         32.30     16  2017-01-29
9014425  2017-01-29 16:48:00             1         72.30     16  2017-01-29
9276577  2017-01-30 16:35:09             1        171.36     16  2017-01-30
9575047  2017-01-31 16:24:41             1        206.60     16  2017-01-31

[75 rows x 5 columns]

In [23]:
df_group.to_csv('xg_location1.csv', index = False)

In [25]:
final_df = pd.DataFrame({'count' : df_1.groupby( ['Date', 'Hours'] ).size()}).reset_index()

In [27]:
final_df.to_csv('xg_location1.csv', index=False)

In [30]:
test_df = pd.DataFrame({'count' : new_df.groupby( ['PULocationID', 'Date', 'Hours'] ).size()}).reset_index()

In [32]:
test_df.to_csv('xg_2017_01_total.csv', index=False)

In [38]:
new_df['dayofweek'] = new_df['tpep_pickup_datetime'].dt.weekday

       PULocationID        Date  Hours  count
0                 1  2017-01-01      3      1
1                 1  2017-01-01      4      1
2                 1  2017-01-01      5      2
3                 1  2017-01-01      6      2
4                 1  2017-01-01      7      2
5                 1  2017-01-01     10      3
6                 1  2017-01-01     11      2
7                 1  2017-01-01     12      3
8                 1  2017-01-01     13      3
9                 1  2017-01-01     14      3
10                1  2017-01-01     15      3
11                1  2017-01-01     16      6
12                1  2017-01-01     17      4
13                1  2017-01-01     18      3
14                1  2017-01-01     23      5
15                1  2017-01-02      3      2
16                1  2017-01-02      4      1
17                1  2017-01-02      5      1
18                1  2017-01-02      6      2
19                1  2017-01-02      7      4
20                1  2017-01-02     10      1
21                1  2017-01-02     11      1
22                1  2017-01-02     15      5
23                1  2017-01-02     16      5
24                1  2017-01-02     17      4
25                1  2017-01-02     19      2
26                1  2017-01-03      0      1
27                1  2017-01-03      1      1
28                1  2017-01-03      7      1
29                1  2017-01-03     11      1
...             ...         ...    ...    ...
89484           265  2017-01-30     16      5
89485           265  2017-01-30     17      8
89486           265  2017-01-30     18      6
89487           265  2017-01-30     19      8
89488           265  2017-01-30     20      7
89489           265  2017-01-30     21     11
89490           265  2017-01-30     22     13
89491           265  2017-01-30     23     10
89492           265  2017-01-31      0      7
89493           265  2017-01-31      1      2
89494           265  2017-01-31      4      3
89495           265  2017-01-31      5      2
89496           265  2017-01-31      6      5
89497           265  2017-01-31      7      5
89498           265  2017-01-31      8      4
89499           265  2017-01-31      9      5
89500           265  2017-01-31     10      3
89501           265  2017-01-31     11      6
89502           265  2017-01-31     12      1
89503           265  2017-01-31     13     12
89504           265  2017-01-31     14      5
89505           265  2017-01-31     15      3
89506           265  2017-01-31     16      4
89507           265  2017-01-31     17      4
89508           265  2017-01-31     18      6
89509           265  2017-01-31     19     12
89510           265  2017-01-31     20      8
89511           265  2017-01-31     21      8
89512           265  2017-01-31     22      8
89513           265  2017-01-31     23     13

[89514 rows x 4 columns]